---
import type { CollectionEntry } from "astro:content";

interface Props {
  quizEntry: CollectionEntry<"quiz">;
}

const { quizEntry } = Astro.props;

const { answers } = quizEntry.data;
---

<section class="choices">
  <ul>
    {
      answers &&
        answers.map((answer, index) => (
          <li class="quiz__quiz-option-wrapper">
            <button class="quiz__quiz-option" type="button">
              <span class="quiz-option-text">{answer.detail}</span>
              <span class="quiz-option-number">{index + 1}</span>
            </button>
          </li>
        ))
    }
  </ul>
</section>

<style>
  .choices {
    @apply h-full;
    @apply row-span-2;
    grid-column: 5/-1;
    @apply pb-[120px] md:pb-[100px] lg:pb-[120px];
    @apply select-none;
    @apply w-full;
  }

  .choices > ul {
    @apply lg:ml-6 p-1;
    @apply flex flex-col justify-center;
    @apply list-none;
  }

  .quiz__quiz-option-wrapper:not(:first-child) {
    @apply mt-4;
  }

  .quiz__quiz-option {
    @apply min-h-16;
    @apply flex items-center w-full p-4 rounded-2xl grow bg-bg-secondary;
    @apply cursor-pointer;
    /* @apply border-border-icon-modern border-2 border-solid; */
    @apply text-fg-primary;
    @apply shadow-border-icon-modern;

    transition:
      background-color 0.2s cubic-bezier(0.25, 0.01, 0.25, 1) 0s,
      transform 0.2s cubic-bezier(0.25, 0.01, 0.25, 1) 0s,
      box-shadow 0.2s cubic-bezier(0.25, 0.01, 0.25, 1) 0s;
    box-shadow:
      0 0 0 2px var(--tw-shadow-color),
      0 2px 0 2px var(--tw-shadow-color);
  }

  .quiz__quiz-option:hover {
    @apply bg-bg-secondary_hover;
  }
  .quiz__quiz-option:active {
    @apply shadow-border-icon-modern;

    box-shadow: 0 0 0 2px var(--tw-shadow-color);
    transform: translate3d(0, 2px, 0);
  }

  .quiz-option-text {
    @apply text-md font-normal mr-4;
  }

  .quiz-option-number {
    @apply flex shrink-0 items-center justify-center w-7 h-7;
    @apply text-fg-secondary text-sm font-bold;
    @apply rounded-lg;
    @apply ml-auto;
    @apply border-border-icon-modern border-2 border-solid;
  }
</style>
