---
import { Icon } from "astro-icon/components";

interface Props {
  isAnswered: boolean;
  isCorrectAnswer: boolean;
  slug: string;
}

const { isAnswered, isCorrectAnswer, slug } = Astro.props;
---

{
  isAnswered && (
    <footer
      class="player__footer"
      class:list={[
        {
          player__answered: isAnswered,
        },
      ]}
    >
      <div class="footer__title">
        <div class="footer__headline">
          <div class="icon-wrapper">
            <Icon name="mdi/report" />
          </div>
          <span>{isCorrectAnswer ? "เก่งมาก" : "ลองใหม่นะ"}</span>
        </div>
        <button type="button" class="report-button btn-link">
          <Icon name="mdi/flag" size={24} />
          <span>รายงานข้อผิดพลาด</span>
        </button>
      </div>

      <div>
        <a href={`./${slug}`}>
          <button
            type="button"
            class="footer-button"
            class:list={[
              {
                "footer-button--incorrect": !isCorrectAnswer,
              },
            ]}
          >
            ข้อต่อไป
          </button>
        </a>
      </div>
    </footer>
  )
}

<style>
  .player__footer {
    @apply fixed bottom-0 left-0 right-0;
    @apply flex flex-col md:flex-row md:items-center md:justify-between;
    @apply p-4 md:px-6;
    @apply bg-bg-primary;
    @apply border-t-2 border-utility-gray-200;
  }

  .footer__title {
    @apply flex items-center justify-between;
    @apply md:grow;
    @apply mb-4 md:mb-0;
  }

  .footer__headline {
    @apply flex items-center;
  }

  .icon-wrapper {
    @apply text-display-sm md:text-display-lg lg:text-display-xl;
    @apply grid place-items-center;
  }

  .footer__headline span {
    @apply ml-4;
    @apply text-xl md:text-display-xs font-bold text-fg-primary;
  }

  .footer-button {
    @apply w-full lg:w-auto;
    @apply text-center;
    @apply md:ml-4;
    @apply min-w-44 h-11 md:h-16;
    @apply font-bold text-md md:text-xl;
    @apply rounded-xl md:rounded-2xl;
    @apply grid place-items-center;

    transition:
      background-color 0.2s cubic-bezier(0.25, 0.01, 0.25, 1) 0s,
      color 0.2s cubic-bezier(0.25, 0.01, 0.25, 1) 0s;

    @apply bg-border-disabled text-fg-disabled;
    @apply cursor-default;
  }

  .player__answered .footer-button {
    @apply bg-button-primary-bg text-button-primary-fg;
    @apply cursor-pointer;
  }

  .player__answered .footer-button:hover {
    @apply bg-button-primary-bg_hover text-button-primary-fg_hover;
  }

  .player__answered .footer-button.footer-button--incorrect {
    @apply bg-button-primary-error-bg text-button-primary-error-fg;
  }

  .player__answered .footer-button:hover.footer-button--incorrect {
    @apply bg-button-primary-error-bg_hover text-button-primary-error-fg_hover;
  }

  .report-button {
    @apply text-fg-tertiary;
    @apply hidden invisible;
  }

  .player__answered .report-button {
    @apply flex items-center justify-center gap-2 visible;
    @apply text-center;
    @apply md:ml-4 px-4;
    @apply md:min-w-44 md:h-16;
    @apply font-bold text-md md:text-xl;
    @apply rounded-xl md:rounded-2xl;

    transition:
      background-color 0.2s cubic-bezier(0.25, 0.01, 0.25, 1) 0s,
      color 0.2s cubic-bezier(0.25, 0.01, 0.25, 1) 0s;
  }

  .player__answered .report-button:hover {
    @apply text-fg-tertiary_hover;
  }

  .player__answered .report-button span {
    @apply hidden invisible;
    @apply md:block md:visible;
  }

  .player__answered .report-button:hover {
    @apply md:bg-bg-tertiary;
  }
</style>
