---
import type { CollectionEntry } from "astro:content";

interface Props {
  quizEntry: CollectionEntry<"quiz">;
  isAnswered: boolean;
}

const { quizEntry, isAnswered }: Props = Astro.props;
const { title } = quizEntry.data;
---

<section
  class:list={[
    {
      answered: isAnswered,
    },
  ]}
>
  <h1>{title}</h1>
</section>

<style>
  h1 {
    @apply flex justify-center items-center;
    @apply text-center;
    @apply max-w-3xl mx-auto;

    @apply font-bold;
    @apply text-xl md:text-display-sm;
  }

  .answered h1 {
    @apply overflow-hidden;
  }

  @keyframes FadeUp {
    from {
      opacity: 1;
      @apply visible;
      grid-template-rows: 1fr;
    }
    30% {
      opacity: 0;
      grid-template-rows: 1fr;
    }

    50% {
      grid-template-rows: 1fr;
    }
    99% {
      opacity: 0;

      @apply invisible hidden;
      grid-template-rows: 0fr;
    }
    to {
      opacity: 0;

      grid-template-rows: 0fr;
    }
  }

  section.answered {
    @apply grid;
    grid-template-rows: 1fr;
    transition: grid-template-rows 1000ms ease-in;
    animation: FadeUp 1000ms ease-in forwards;
  }
</style>
