---
import { SITE_TITLE, SITE_DESCRIPTION } from "../consts";
import "@/styles/globals.css";
import BaseLayout from "@/layouts/BaseLayout.astro";
import { Button } from "@/components/ui/button";
import { Image } from "astro:assets";
import landingDuck from "../../public/images/landing_duck.png";
---

<BaseLayout title={SITE_TITLE} description={SITE_DESCRIPTION}>
  <div class="landing mt-24 space-y-16">
    <header class="flex flex-col gap-12 items-center mx-8">
      <div class="flex flex-col gap-6 text-center items-center">
        <div class="flex flex-col gap-3 w-[804px]">
          <h2 class="text-md font-semibold text-text-brand-secondary">
            Practical Algorithms · เรื่องเล่าชาวอัลกอ
          </h2>
          <h1 class="text-display-2xl font-sans font-semibold">
            ความรู้เนื้อหาอัลกอลิทึมแบบใช้ได้จริง
          </h1>
        </div>
        <p class="text-xl text-text-tertiary font-baijamjuree">
          เริ่มเรียนอัลกอลิทึมง่ายๆด้วยตัวเองกันเลย เขียนโดยพี่ๆค่าย สอวน.&สสวท.
          คอมพิวเตอร์
        </p>
      </div>
      <class class="cta space-x-3">
        <Button
          className="font-baijamjuree font-semibold bg-button-secondary-bg h-fit w-fit border border-button-secondary-border text-button-secondary-fg  px-[22px] py-4 text-lg rounded-[8px]"
          >Demo</Button
        >
        <Button
          className="font-baijamjuree font-semibold bg-button-secondary-bg h-fit w-fit border border-button-secondary-border text-button-secondary-fg  px-[22px] py-4 text-lg rounded-[8px]"
          >Facebook</Button
        >
        <Button
          className="font-baijamjuree bg-[rgba(var(--brand--600))] h-fit w-fit hover:bg-[rgba(var(--brand--700))] rounded-[8px] text-text-white px-[22px] py-4 font-semibold text-lg"
          >เริ่มเรียนกันเลย!</Button
        >
        <section></section>
      </class>
    </header>
    <div class="flex justify-center">
      <Image
        quality={50}
        format="webp"
        width={574}
        height={369}
        src={landingDuck}
        alt="Practical Algorithm Landing Image"
      />
    </div>
    <div></div>
  </div></BaseLayout
>
