---
// Component Imports
import { Image } from "astro:assets";
import "@/styles/globals.css";
import { Button } from "@/components/ui/button";
import IndexLayout from "@/layouts/IndexLayout.astro";
import { Icon } from "astro-icon/components";

// Constants
import landingDuck from "../images/landing_duck.png";
import aboutImage from "../images/blog-placeholder-about.jpg";
import RecentBlog from "@/components/index/RecentBlog.astro";
---

<IndexLayout enableGrid={true}>
  <div class="landing mt-24 space-y-16">
    <header class="flex flex-col gap-12 items-center mx-8">
      <div class="flex flex-col gap-6 text-center items-center">
        <div class="flex flex-col gap-3 md:w-[804px]">
          <h2
            class="text-sm lg:text-md font-semibold text-text-brand-secondary"
          >
            Practical Algorithms · เรื่องเล่าชาวอัลกอ
          </h2>
          <h1
            class="text-display-md md:text-display-lg lg:text-display-xl mx-auto flex flex-wrap justify-center text-center"
          >
            <span class="font-sans font-semibold">ความรู้เนื้อหา</span>
            <span class="font-sans font-semibold">อัลกอลิทึม</span>
            <span class="font-sans font-semibold">แบบใช้ได้จริง</span>
          </h1>
        </div>
        <p class="text-md md:text-xl text-text-tertiary font-baijamjuree">
          เริ่มเรียนอัลกอลิทึมง่ายๆด้วยตัวเองกันเลย เขียนโดยพี่ๆค่าย สอวน.&สสวท.
          คอมพิวเตอร์
        </p>
      </div>
      <div class="flex justify-center gap-x-3 items-stretch">
        <a
          href="https://www.facebook.com/PracticalAlgorithms"
          aria-label="Facebook Button"
        >
          <Button
            className="font-baijamjuree font-semibold bg-button-secondary-bg h-full w-fit  border border-button-secondary-border text-button-secondary-fg  px-[22px] py-4 text-lg rounded-[8px] hover:text-[#1877F2]"
          >
            <Icon name="bi/facebook" width={24} height={24} />
          </Button>
        </a>
        <a href="/test">
          <Button
            className="font-baijamjuree bg-[rgba(var(--brand--600))] h-full w-fit  hover:bg-[rgba(var(--brand--700))] rounded-[8px] text-text-white px-[22px] py-4 font-semibold text-lg"
            >เริ่มเรียนกันเลย!</Button
          ></a
        >
      </div>
    </header>
    <div class="flex justify-center px-4">
      <Image
        quality={50}
        format="webp"
        width={574}
        height={369}
        src={landingDuck}
        loading="lazy"
        alt="Practical Algorithm's Duck Mascot Relaxing on a Laptop"
      />
    </div>
  </div>

  <!-- Table of Content -->
  <section class="px-8 my-16 md:my-24 space-y-16">
    <div aria-description="Table of Content" class="flex flex-col">
      <header class="space-y-3">
        <h4 class="text-md font-semibold text-text-brand-secondary">
          Table of Content
        </h4>
        <h3
          class="text-display-sm md:text-display-md font-bold text-text-primary font-sans"
        >
          สารบัญรวมเนื้อหา สอวน. คอมพิวเตอร์
        </h3>
      </header>
      <p class="text-md md:text-xl text-text-tertiary">
        Spend smarter, lower your bills, get cashback on everything you buy, and
        unlock credit to grow your business.
      </p>
    </div>
    <div
      class="grid grid-flow-row lg:grid-cols-2 gap-y-12 gap-x-16 px-2 md:px-8 items-center justify-start"
    >
      <div aria-description="feature-section" class="space-y-12 grow basis-0">
        <div class="feature flex gap-3">
          <div class="feature-icon">A</div>
          <div class="feature-content space-y-5">
            <div class="pt-2.5 space-y-2">
              <h5 class="text-xl font-semibold text-text-primary">
                เนื้อหาคณิตศาสตร์ ก่อนค่าย1
              </h5>
              <p class="text-md text-text-tertiary">
                Give your team the autonomy they need with access to as many
                cards as they need. Authorise purchases with a click. Simple.
              </p>
            </div>
            <Button variant="link_color" size="link_lg">
              Learn more
              <Icon name="untitled/arrow-right" />
            </Button>
          </div>
        </div>
        <div class="feature flex gap-3">
          <div class="feature-icon w-12 h-12"></div>
          <div class="feature-content space-y-5">
            <div class="pt-2.5 space-y-2">
              <h5 class="text-xl font-semibold text-text-primary">
                เนื้อหาคณิตศาสตร์ ก่อนค่าย1
              </h5>
              <p class="text-md text-text-tertiary">
                Give your team the autonomy they need with access to as many
                cards as they need. Authorise purchases with a click. Simple.
              </p>
            </div>
            <Button variant="link_color" size="link_lg">
              Learn more
              <Icon name="untitled/arrow-right" />
            </Button>
          </div>
        </div>
        <div class="feature flex gap-3">
          <div class="feature-icon w-12 h-12"></div>
          <div class="feature-content space-y-5">
            <div class="pt-2.5 space-y-2">
              <h5 class="text-xl font-semibold text-text-primary">
                เนื้อหาคณิตศาสตร์ ก่อนค่าย1
              </h5>
              <p class="text-md text-text-tertiary">
                Give your team the autonomy they need with access to as many
                cards as they need. Authorise purchases with a click. Simple.
              </p>
            </div>
            <Button variant="link_color" size="link_lg">
              Learn more
              <Icon name="untitled/arrow-right" />
            </Button>
          </div>
        </div>
      </div>
      <div class="grow self-stretch">
        <Image
          src={aboutImage}
          height={560}
          width={592}
          alt="Duck teaching on the blackboard"
          class="grow basis-0"
        />
      </div>
    </div>
  </section>

  <RecentBlog />
</IndexLayout>

<style>
  .feature-icon {
    @apply w-12 h-12 basis-12 shrink-0 flex items-center justify-center border border-solid border-border-icon-modern text-fg-secondary;
    @apply rounded-[10px];
    box-shadow: var(--shadows--shadow-xs);
  }
</style>
