---
import type { MarkdownHeading } from "astro";
import ShareButton from "./ShareButton.astro";

type Props = {
  headings: MarkdownHeading[];
};

type NestedHeading = MarkdownHeading & {
  subheadings: MarkdownHeading[];
};
const { headings } = Astro.props;

const groupedHeadings = headings.filter((heading) => heading.depth === 2);
---

<div class="space-y-4">
  <div class="text-md font-semibold text-text-brand-tertiary">
    Table of Contents
  </div>
  <ul
    class="space-y-3 font-semibold text-md font-baijamjuree text-button-tertiary-fg"
  >
    {
      groupedHeadings.map((heading) => (
        <li class="space-y-3">
          <a href={`#${heading.slug}`} class="font-baijamjuree">
            {heading.text}
          </a>
        </li>
      ))
    }
  </ul>
</div>
<script>
  document.querySelectorAll('a[href^="#"]').forEach((anchor) => {
    anchor.addEventListener("click", function (e) {
      e.preventDefault();

      document.querySelector(this.getAttribute("href")).scrollIntoView({
        behavior: "smooth",
      });
    });
  });
</script>
<style>
  .divider {
    height: 1px;
    width: 100%;

    @apply bg-border-secondary;
  }
</style>
