---
import { SITE_TITLE } from "../../consts";
import LandingGrid from "./LandingGrid.astro";
import Navbar from "./Navbar";

type Props = {
  enableGrid?: boolean;
};

const { enableGrid = false } = Astro.props;
---

<header>
  {enableGrid && <LandingGrid />}
  <nav>
    <h2 class="text-xl font-semibold"><a href="/">{SITE_TITLE}</a></h2>
    <Navbar client:idle />
  </nav>
</header>
<style>
  nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1rem 2rem;
    background-color: transparent;
  }
</style>
