---
import { Button } from "@/components/ui/button";
import { Icon } from "astro-icon/components";
import BlogCard from "../blog/BlogCard.astro";
---

<section class="recent-blog">
  <header><h2>Recent blog posts</h2></header>
  <div class="contents">
    <!-- Recent post -->
    <BlogCard
      title="Migrating to Linear 101"
      author="Olivia Rhye"
      pubDate="20 Jan 2024"
      description="How do you create compelling presentations that wow your colleagues and impress your managers? lorem ipsum dolor sit ametha ths wcro npcro nedc will you be able to do it?"
      tags={["Design", "Research", "Development"]}
      imageSource="/images/post-image1.png"
      imageAlt="About me Image"
      mostRecent={true}
    />
    <BlogCard
      title="Migrating to Linear 101"
      author="Olivia Rhye"
      pubDate="20 Jan 2024"
      description="How do you create compelling presentations that wow your colleagues and impress your managers?"
      tags={["Design", "Research", "Development"]}
      imageSource="/images/post-image1.png"
      imageAlt="About me Image"
      mostRecent={false}
    />
    <BlogCard
      title="Migrating to Linear 101"
      author="Olivia Rhye"
      pubDate="20 Jan 2024"
      description="How do you create compelling presentations that wow your colleagues and impress your managers?"
      tags={["Design", "Research", "Development"]}
      imageSource="/images/post-image1.png"
      imageAlt="About me Image"
      mostRecent={false}
    />
  </div>
  <Button size="link_lg" variant="link_color" className="mx-auto"
    >Read all blogs <Icon name="untitled/arrow-right" /></Button
  >
</section>

<style>
  .recent-blog {
    @apply flex flex-col gap-8 px-8;
  }

  .recent-blog header {
    @apply text-display-xs font-bold text-text-primary;
  }

  .recent-blog .contents {
    @apply grid gap-8;

    @apply grid-cols-1;

    @apply md:grid-cols-3 md:grid-rows-1;
    @apply xl:grid-cols-2 xl:grid-rows-2;
  }
</style>
