---
import type { CollectionEntry } from "astro:content";
import FormattedDate from "../components/utils/FormattedDate.astro";
import BaseLayout from "./BaseLayout.astro";
import Header from "@/components/index/Header.astro";
import Footer from "@/components/index/Footer.astro";
import type { MarkdownHeading } from "astro";
import TOC from "@/components/blog/TOC.astro";
import ShareButton from "@/components/blog/ShareButton.astro";
import BlogHeader from "@/components/blog/BlogHeader.astro";

type Props = CollectionEntry<"blog">["data"] & {
  headings: MarkdownHeading[];
  minRead: string;
};

const { title, description, headings, minRead } = Astro.props;

const content = Astro.props;
---

<BaseLayout
  meta={{
    title,
    description,
  }}
>
  <body>
    <Header />
    <article class="bg-bg-primary text-text-primary">
      <BlogHeader {content} {minRead} />
      <main class="flex lg:flex-row flex-col max-w-screen-lg">
        <aside
          class="lg:sticky lg:top-1 z-10 lg:basis-60 shrink-0 h-fit flex flex-col items-stretch gap-4"
          aria-label="Table Of Contents"
        >
          <div class="divider"></div>
          <TOC headings={headings} />
          <div class="divider hidden lg:block"></div>
          <div class="hidden lg:block">
            <ShareButton />
          </div>
        </aside>

        <div id="content">
          <slot />
        </div>
        <div class="lg:hidden flex flex-col items-center text-center">
          <ShareButton />
        </div>
      </main>
    </article>
    <Footer />
  </body>
</BaseLayout>
<style>
  header {
    height: 300px;
    @apply bg-bg-primary;
    @apply pb-16 pt-24;
  }

  article {
    @apply mx-auto max-w-screen-xl px-8;
  }

  main {
    @apply flex gap-16;
  }

  .divider {
    height: 1px;
    width: 100%;

    @apply bg-border-secondary;
  }
</style>
