---
import type { CollectionEntry } from "astro:content";
import FormattedDate from "../components/utils/FormattedDate.astro";
import BaseLayout from "./BaseLayout.astro";
import Header from "@/components/index/Header.astro";
import Footer from "@/components/index/Footer.astro";
import type { MarkdownHeading } from "astro";
import TOC from "@/components/blog/TOC.astro";

type Props = CollectionEntry<"blog">["data"] & {
  headings: MarkdownHeading[];
};

const { title, description, pubDate, updatedDate, heroImage, headings } =
  Astro.props;
---

<BaseLayout
  meta={{
    title,
    description,
  }}
>
  <body class="bg-bg-primary text-text-primary">
    <Header />
    <article>
      <header>Dummy header</header>
      <main class="flex">
        <TOC headings={headings} />
        <div id="content">
          <slot />
        </div>
      </main>
    </article>
    <Footer />
  </body>
</BaseLayout>
<style>
  header {
    height: 300px;
    @apply bg-bg-primary;
    @apply pb-16 pt-24;
  }

  article {
    @apply mx-auto max-w-screen-xl px-8;
  }

  main {
    @apply flex gap-16;
  }
</style>
