---
import Footer from "@/components/index/Footer.astro";
import Header from "@/components/index/Header.astro";
import BaseLayout from "./BaseLayout.astro";

type Props = {
  title: string;
  description: string;
};

const { title = "Home", description = "This is a home page" } = Astro.props;
---

<BaseLayout {title} {description}>
  <body class="bg-bg-primary text-text-primary">
    <Header />
    <main class="max-w-7xl mx-auto">
      <slot />
    </main>
    <Footer />
  </body>
</BaseLayout>
