---
import Footer from "@/components/index/Footer.astro";
import Header from "@/components/index/Header.astro";
import BaseLayout, { type Meta } from "./BaseLayout.astro";

type Props = {
  meta?: Meta;
  enableGrid?: boolean;
};

const { meta, enableGrid = false } = Astro.props;
---

<BaseLayout {meta}>
  <body class="bg-bg-primary text-text-primary">
    <Header {enableGrid} />
    <main class="max-w-7xl mx-auto">
      <slot />
    </main>
    <Footer />
  </body>
</BaseLayout>
